@font-face {
    font-family: 'Avenir 400';
    src: url(./fonts/AvenirNext-Bold.ttf);
}

@font-face {
    font-family: 'Avenir 400 Italic';
    src: url(./fonts/AvenirNext-BoldItalic.ttf);
}
    
@font-face {
    font-family: 'Avenir 300';
    src: url(./fonts/AvenirNext-DemiBold.ttf);
}
    
@font-face {
    font-family: 'Avenir 300 Italic';
    src: url(./fonts/AvenirNext-DemiBoldItalic.ttf);
}
    
@font-face {
    font-family: 'Avenir 500';
    src: url(./fonts/AvenirNext-Heavy.ttf);
}
    
@font-face {
    font-family: 'Avenir 500 Italic';
    src: url(./fonts/AvenirNext-HeavyItalic.ttf);
}
    
@font-face {
    font-family: 'Avenir Italic';
    src: url(./fonts/AvenirNext-Italic.ttf);
}
    
@font-face {
    font-family: 'Avenir 200';
    src: url(./fonts/AvenirNext-Medium.ttf);
}
    
@font-face {
    font-family: 'Avenir 200 Italic';
    src: url(./fonts/AvenirNext-MediumItalic.ttf);
}
    
@font-face {
    font-family: 'Avenir';
    src: url(./fonts/AvenirNext-Regular.ttf);
}
    
@font-face {
    font-family: 'Avenir 100';
    src: url(./fonts/AvenirNext-UltraLight.ttf);
}
    
@font-face {
    font-family: 'Avenir 100 Italic';
    src: url(./fonts/AvenirNext-UltraLightItalic.ttf);
}