* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background-color: #EBF0F0;
    font-family: 'Avenir Next Regular', sans-serif;
}

ol, ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
}

.clearfix {
	content: '';
	display: table;
	clear: both;
}

/* Cards

.card {
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.35);

} */