* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background-color: #EBF0F0;
    font-family: 'Avenir', sans-serif;
}

ol, ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.clearfix {
	content: '';
	display: table;
	clear: both;
}

/* Navbar */

.navbar {
    background: #00CAB0;
    font-family: 'Avenir 400';
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 28px 0;
}

/* About section */

.about {
    background: linear-gradient(rgba(74, 74, 74, .6), rgba(74, 74, 74, .6)), 
        url(../img/aboutBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}

.aboutContainer {
    padding: 40px 0;
}

.heading > p {
    font-family: 'Avenir 400';
    text-transform: uppercase;
    font-size: 35.2px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 10px;
}

.subHeading > p {
    font-family: 'Avenir 300';
    text-transform: uppercase;
    font-size: 27.1px;
    margin-bottom: 100px;
    color: #00CAB0;
}

.subHeading > p > span {
    font-family: 'Avenir';
}

.subText > p {
    font-family: 'Avenir 200 Italic';
    font-size: 26px;
    color: #ffffff;
    width: 297px;
}

/* Projects Section */
.projectsContainer {
    padding: 40px 0;
}

.mainHeadings {
    text-transform: uppercase;
    text-align: center;
    color: #4a4a4a;
    font-family: 'Avenir 400';
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: -4px 4px 0 #00CAB0;
}

/* Cards */

.card {
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.35);

}

.card img {
    width: 100%;
    height: 220px;
    display: block;
    object-fit: cover;
}

.cardContent {
    padding: 20px;
    width: 100%;
}

.card > .cardContent > .title {
    font-family: 'Avenir 300';
    font-size: 22px;
    margin-bottom: 10px;
}

.card > .cardContent > .description {
    font-family: 'Avenir';
    font-size: 18px;
}

.btnGroup {
    width: 100%;
    padding: 0 20px 20px;
}

.btnCont {
    width: 50%;
    float: left;
    padding-right: 5px;
}

.btnCont2 {
    width: 50%;
    float: left;
    padding-left: 5px;
}

.btn {
    padding: 8px 10.5px;
    font-size: 14px;
    text-align: center;
    font-family: 'Avenir 400';
    text-transform: capitalize;
    background-color: #ebebeb;
    display: inline-block;
    outline: none;
}

.btnCont > .btn,
.btnCont2 > .btn {
    width: 100%;
}

.btnCont > .btn-view {
    background-color: #00CAB0;
    color: #ffffff;
}

.btnCont2 > .btn-source {
    background-color: #E9E9E9;
    color: #4A4A4A;
}

/* skills */

.skills {
    background-color: #fff;
    padding: 40px 0;
}

.skillsTitle {
    font-family: 'Avenir 200 Italic';
    font-size: 22px;
    color: #4a4a4a;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.skillsName {
    margin-bottom: 20px;
}

.loadingBg {
    width: 100%;
    background-color: #DDDDDD;
    height: 7px;
}

.loadingFill {
    background-color: #00CAB0;
    height: 7px;
}

.ui-design .loadingFill,
.ux-design .loadingFill {
    width: 80%;
}

.jquery .loadingFill,
.javascript .loadingFill {
    width: 70%;
}

/* Contact */

/* Contact title */

.contact {
    padding: 40px 0;
}

.form {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.35);
}

.form label {
    font-family: 'Avenir';
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
}

.form span {
    color: #ff4a60;
    font-family: 'Avenir 200';
}

.form input,
textarea {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 20px;
    border: 1px solid #979797;
    outline: none;
    min-height: 36px;
    font-size: 14px;
}

textarea {
    min-height: 146px;
    max-width: 100%;
    min-width: 100%;
    display: block;
    outline: none;
}

input:focus {
    background: #FFFFFF;
    border: 1px solid #00CAB0;
    box-shadow: 0 0 2px 0 #00CAB0;
}

.textArea:focus {
    background: #FFFFFF;
    border: 1px solid #00CAB0;
    box-shadow: 0 0 2px 0 #00CAB0;
}

.error:focus {
    background: #FFFFFF;
    border: 1px solid #FF4A60;
    box-shadow: 0 0 2px 0 #FF4A60;
}

.btn-send {
    background-color: #00CAB0;
    color: #ffffff;
    border: none;
    width: 100%;
    min-height: 36px;
    display: block;
    margin-bottom: 40px;
}

.required {
    font-family: 'Avenir Italic';
    font-size: 14px;
}

/* footer */

footer {
    background-color: #585858;
    color: #cecece;
    padding: 40px 0;
}

.iconsContainer {
    position: relative;
    margin-bottom: 20px;
}

.links {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
}

.links::after {
    height: 1px;
    width: 114px;
    content: '';
    position: absolute;
    background-color: #6E6E6E;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -20px;
}

.links > .icon {
    width: 40px;
    height: 40px;
    background-color: #00CAB0;
    border-radius: 100%;
    float: left;
}

.iconsContainer > .links > .icon:nth-of-type(1){
    margin-right: 10px;
}

.iconsContainer > .links > .icon:nth-of-type(3){
    margin-left: 10px;
}

.info {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}

.info > .credit {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .subText > p {
        width: 60%;
    }

    .projects .mainHeadings::before {
        width: 266px;
    }
    
    .projects .mainHeadings::after {
        width: 270px;
    }

    .cardContainer:nth-of-type(2n + 2) {
        padding-right: 10px;
    }
    
    .cardContainer:nth-of-type(2n + 3) {
        padding-left: 10px;
    }

    .cardContainer {
        width: 50%;
        float: left;
    }

    .cardContent {
        min-height: 130px;
    }

    

}