* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: rgba(0,0,0,0.03);
	font-family: 'Lato', sans-serif;
	color: #000;
}

header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	box-shadow: 0 0 32px rgba(0,0,0,0.15);
}

a {
	text-decoration: none;
}

a:visited {
	color: #000;
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	display: block;
}

svg {
	font-family: 'Monoton', cursive;
}

footer {
	/* Main Footer BG: */
	background: #424242;
	text-align: center;
}

button {
	/* Rectangle: */
	/* Rectangle: */
	background: linear-gradient(-134deg, #FF0000 0%, #FF408B 100%);
	padding: 8px 15px;
	outline: none;
	font-size: .75em;
	font-weight: 300;
	font-size: 1em;
	border: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.logo {
	display: inline-block;
	padding: 10px;
}

.logo img {
	height: 30px;
}

.logo a {
	background-image: linear-gradient(-134deg, #FF0000 0%, #FF408B 100%);
	display: block;
	padding: 5px;
	box-shadow: 0 0 30px rgba(0,0,0,.2);
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	padding: 30px 0;
}

.main-nav a {
	display: block;
	padding: 10px 15px;
	font-size: 15px;
	font-weight: 700;
}

.main-nav li {
	font-size: 1.2em;
}

.main-nav a:hover {
	background-color:red;	
} 

.main-container {
	padding-top: 177px;
}

.first-section {
	background-color: #fff;
}

.main-img {
	box-shadow: 0 0 32px 0 rgba(0,0,0,0.3);
	border-radius: 8px;
	display: inline-block;
	margin-bottom: 30px;
}

.main-img img {
	border-radius: 7px;
}

.col2 h1, .col2 p {
	margin-bottom: 20px;
}

.col2 p {
	font-size: 1.1em;
}

.col2 button {
	margin-bottom: 10px;
}

.tags {
	text-align: left;
}

.something {
	text-align: center;
}

.main-footer {
	padding: 20px 0;
	color: #fff;
}

.sub-footer {
	background: #343434;
	padding: 10px 0;
	color: rgba(255,255,255, .3);
	font-weight: 300;
}

.first-section, .second-section {
	text-align: center;
}

@media (min-width: 768px) {
	.logo {
		float: left;
	}

	.main-nav ul {
		float: right;
	}

	.main-nav ul li {
		float: left;
	}

	.main-container {
		padding-top: 60px;
	}

	.main-nav a {
		display: block;
		padding: 15px 10px;
		font-size: 1.3em;
	}
}




